body {
  background-color: rgb(157, 202, 218);
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;

}

h1 {
  color: white;
  text-align: center;
}

h6 {
  font-family: verdana;
  text-align: center;
}